body {
  margin: 0;
  font-family: Playfair Display;
  text-align: center;
  background-color: aqua;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


